<html>
    <head>
        <title>{{ page_title }}</title>
        {{ content_for_header }}
        {%  style  %}
          {{ settings.heading_font |  font_face: font_display: 'swap' }}
          {{ settings.body_font |  font_face: font_display: 'swap' }}
          :root {
            --font-heading--family: {{ settings.heading_font.family }}, {{ settings.heading_font.fallback_families }};
            --font-body--family: {{ settings.body_font.family }}, {{ settings.body_font.fallback_families }};
          }
        {% endstyle %}

        {% if settings.favicon != blank %}
          <link rel="icon" type="image/png" href="{{ settings.favicon | image_url: width: 32, height: 32 }}">
        {% endif %}

        <link rel="stylesheet" href="{{ 'theme.css' | asset_url }}" type="text/css" media="all">

        {{ 'application.css' | asset_url | stylesheet_tag }}

        <script src="{{ 'collection-filters.js' | asset_url }}" defer></script>
        <script src="{{ 'product-form.js' | asset_url }}" defer="defer"></script>
        <script src="{{ 'cart-update.js' | asset_url }}" defer="defer"></script>
        <script>
          window.moneyFormat = {{ shop.money_format | json }};
        </script>
    </head>

    <body>
        {% sections 'header-group' %}
        {{ content_for_layout }}
        {% sections 'footer-group' %}
    </body>
</html>